Gro.Infrastructure.Data/Service References/GrobarhetService/GrobarhetServiceInt2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sr02009/Apps/GrobarhetServiceInt/GrobarhetServiceInt.GrobarhetService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GrobarhetServiceInt.Models" />
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGrobarhet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reference" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ticket" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGrobarhetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GrobarhetServiceInt.Models" minOccurs="0" name="GetGrobarhetResult" nillable="true" type="q1:ArrayOfGrobarhetResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>