Gro.Infrastructure.Data/Service References/GrobarhetService/GrobarhetService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GrobarhetService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://sr02009/Apps/GrobarhetServiceInt/GrobarhetServiceInt.GrobarhetService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://sr02009/Apps/GrobarhetServiceInt/GrobarhetServiceInt.GrobarhetService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://sr02009/Apps/GrobarhetServiceInt/GrobarhetServiceInt.GrobarhetService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GrobarhetServiceInt.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGrobarhetService_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IGrobarhetService_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IGrobarhetService_GetGrobarhet_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGrobarhet" />
  </wsdl:message>
  <wsdl:message name="IGrobarhetService_GetGrobarhet_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGrobarhetResponse" />
  </wsdl:message>
  <wsdl:portType name="IGrobarhetService">
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IGrobarhetService/Ping" message="tns:IGrobarhetService_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGrobarhetService/PingResponse" message="tns:IGrobarhetService_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGrobarhet">
      <wsdl:input wsaw:Action="http://tempuri.org/IGrobarhetService/GetGrobarhet" message="tns:IGrobarhetService_GetGrobarhet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGrobarhetService/GetGrobarhetResponse" message="tns:IGrobarhetService_GetGrobarhet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGrobarhetService" type="tns:IGrobarhetService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/IGrobarhetService/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGrobarhet">
      <soap:operation soapAction="http://tempuri.org/IGrobarhetService/GetGrobarhet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GrobarhetService">
    <wsdl:port name="BasicHttpBinding_IGrobarhetService" binding="tns:BasicHttpBinding_IGrobarhetService">
      <soap:address location="http://sr02009/Apps/GrobarhetServiceInt/GrobarhetServiceInt.GrobarhetService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>