Gro.Infrastructure.Data/Service References/GrobarhetService/GrobarhetServiceInt1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GrobarhetServiceInt.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GrobarhetServiceInt.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGrobarhetResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GrobarhetResponse" nillable="true" type="tns:GrobarhetResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGrobarhetResponse" nillable="true" type="tns:ArrayOfGrobarhetResponse" />
  <xs:complexType name="GrobarhetResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grobarhet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GrobarhetResponse" nillable="true" type="tns:GrobarhetResponse" />
</xs:schema>