Gro.Infrastructure.Data/Service References/DeliveryNoteService/FoljesedelServiceInt.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sr02009/Apps/FoljesedelServiceInt/FoljesedelServiceInt.FoljesedelService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://sr02009/Apps/FoljesedelServiceInt/FoljesedelServiceInt.FoljesedelService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FoljesedelServiceInt.Models" />
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticket" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCommentsResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fabricId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="articleNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ticket" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FoljesedelServiceInt.Models" minOccurs="0" name="SearchResult" nillable="true" type="q2:ArrayOfFoljesedelResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFabrics">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticket" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFabricsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FoljesedelServiceInt.Models" minOccurs="0" name="GetFabricsResult" nillable="true" type="q3:ArrayOfFabricItemResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPDFData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fabricId" type="xs:int" />
        <xs:element minOccurs="0" name="rowNumber" type="xs:int" />
        <xs:element minOccurs="0" name="ticket" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPDFDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPDFDataResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPDFFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fabricId" type="xs:int" />
        <xs:element minOccurs="0" name="rowNumber" type="xs:int" />
        <xs:element minOccurs="0" name="ticket" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPDFFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPDFFileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBulkfoderLeverans">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="system" type="xs:int" />
        <xs:element minOccurs="0" name="customerOrderNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rowNumber" type="xs:int" />
        <xs:element minOccurs="0" name="lopnummer" type="xs:int" />
        <xs:element minOccurs="0" name="fabricId" type="xs:int" />
        <xs:element minOccurs="0" name="ticket" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBulkfoderLeveransResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FoljesedelServiceInt.Models" minOccurs="0" name="GetBulkfoderLeveransResult" nillable="true" type="q4:ArrayOfBulkfoderLeveransResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReceptNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="receptNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tillvord" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fabricId" type="xs:int" />
        <xs:element minOccurs="0" name="receptVersion" type="xs:int" />
        <xs:element minOccurs="0" name="ticket" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReceptNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetReceptNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVaruInfoDefault">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="artikel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ticket" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVaruInfoDefaultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FoljesedelServiceInt.Models" minOccurs="0" name="GetVaruInfoDefaultResult" nillable="true" type="q5:ArrayOfAnalysGruppResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVaruInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recept" type="xs:int" />
        <xs:element minOccurs="0" name="version" type="xs:int" />
        <xs:element minOccurs="0" name="fabricId" type="xs:int" />
        <xs:element minOccurs="0" name="ticket" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVaruInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetVaruInfoResult" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsArtikelType55">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="articleNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ticket" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsArtikelType55Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsArtikelType55Result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDurabilityText4">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerOrderNumber" type="xs:int" />
        <xs:element minOccurs="0" name="rowNumber" type="xs:int" />
        <xs:element minOccurs="0" name="ticket" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDurabilityText4Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDurabilityText4Result" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDurabilityText3">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerOrderNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ticket" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDurabilityText3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDurabilityText3Result" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>