Gro.Infrastructure.Data/Service References/EmailService/EmailService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EmailServiceInt.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmailServiceInt.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ActivateUserRequestDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActivateUserRequestDto" nillable="true" type="tns:ActivateUserRequestDto" />
  <xs:complexType name="RegistrateUserRequestDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegistrateUserRequestDto" nillable="true" type="tns:RegistrateUserRequestDto" />
</xs:schema>