Gro.Infrastructure.Data/Service References/EmailService/EmailService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EmailServiceInt.Models.CustomerSupport" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmailServiceInt.Models.CustomerSupport" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SmsNotification">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BulkLevereratSms" type="xs:boolean" />
      <xs:element minOccurs="0" name="BulkPlaneratSms" type="xs:boolean" />
      <xs:element minOccurs="0" name="FlakLevereratSms" type="xs:boolean" />
      <xs:element minOccurs="0" name="FlakPlaneratSms" type="xs:boolean" />
      <xs:element minOccurs="0" name="FlakTelefon" type="xs:boolean" />
      <xs:element minOccurs="0" name="GardshamtnignHamtat" type="xs:boolean" />
      <xs:element minOccurs="0" name="GardshamtningPlanerat" type="xs:boolean" />
      <xs:element minOccurs="0" name="LeveransplanViaEpost" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SmsNotification" nillable="true" type="tns:SmsNotification" />
</xs:schema>