Gro.Infrastructure.Data/Service References/MachineRemoveService/LMMA_MAS_C4_deleteMachineForCustomerId.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sci.lantmannen.com/LMMA_MAS_C4.ws:deleteMachineForCustomerId" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" name="LMMA_MAS_C4_deleteMachineForCustomerId" targetNamespace="http://sci.lantmannen.com/LMMA_MAS_C4.ws:deleteMachineForCustomerId" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsdl:types>
    <xsd:schema targetNamespace="http://sci.lantmannen.com/LMMA_MAS_C4.ws:deleteMachineForCustomerId">
      <xsd:element name="deleteMachineForCustomerId" type="tns:deleteMachineForCustomerId" />
      <xsd:element name="deleteMachineForCustomerIdResponse" type="tns:deleteMachineForCustomerIdResponse" />
      <xsd:complexType name="deleteMachineForCustomerId">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ID" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="deleteMachineForCustomerIdResponse">
        <xsd:sequence>
          <xsd:element name="individSaveResponse" nillable="true" type="tns:individSaveOutput" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="individSaveOutput">
        <xsd:sequence>
          <xsd:element name="IOEnvelope" nillable="true" type="tns:IOEnvelope" />
        </xsd:sequence>
        <xsd:attribute name="version" type="xsd:string" use="required" />
        <xsd:attribute name="encoding" type="xsd:string" use="required" />
      </xsd:complexType>
      <xsd:complexType name="IOEnvelope">
        <xsd:sequence>
          <xsd:element name="FunctionStatus" nillable="true" type="tns:FunctionStatus" />
          <xsd:element name="Data" nillable="true" type="tns:Data" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FunctionStatus">
        <xsd:sequence>
          <xsd:element name="Status" nillable="true" type="xsd:string" />
          <xsd:element name="Text" nillable="true" type="xsd:string" />
          <xsd:element name="UserText" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Data">
        <xsd:sequence />
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="deleteMachineForCustomerId_PortType_deleteMachineForCustomerIdResponse">
    <wsdl:part name="parameters" element="tns:deleteMachineForCustomerIdResponse" />
  </wsdl:message>
  <wsdl:message name="deleteMachineForCustomerId_PortType_deleteMachineForCustomerId">
    <wsdl:part name="parameters" element="tns:deleteMachineForCustomerId" />
  </wsdl:message>
  <wsdl:portType name="deleteMachineForCustomerId_PortType">
    <wsdl:operation name="deleteMachineForCustomerId">
      <wsdl:input message="tns:deleteMachineForCustomerId_PortType_deleteMachineForCustomerId" />
      <wsdl:output message="tns:deleteMachineForCustomerId_PortType_deleteMachineForCustomerIdResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LMMA_MAS_C4_ws_deleteMachineForCustomerId_Binder" type="tns:deleteMachineForCustomerId_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="deleteMachineForCustomerId">
      <soap:operation soapAction="LMMA_MAS_C4_ws_deleteMachineForCustomerId_Binder_deleteMachineForCustomerId" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LMMA_MAS_C4_deleteMachineForCustomerId">
    <wsdl:port name="LMMA_MAS_C4_deleteMachineForCustomerIdsoaphttp" binding="tns:LMMA_MAS_C4_ws_deleteMachineForCustomerId_Binder">
      <soap:address location="http://sr02371.work.lantmannen.lan:9955/ws/LMMA_MAS_C4_deleteMachineForCustomerId/1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>