Gro.Infrastructure.Data/Service References/MachineAddNewServer/LMMA_MAS_C4_updateMachineForCustomerId.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://169.254.234.32/LMMA_MAS_C4.ws:updateMachineForCustomerId" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" name="LMMA_MAS_C4_updateMachineForCustomerId" targetNamespace="http://169.254.234.32/LMMA_MAS_C4.ws:updateMachineForCustomerId" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsdl:types>
    <xsd:schema targetNamespace="http://169.254.234.32/LMMA_MAS_C4.ws:updateMachineForCustomerId">
      <xsd:element name="updateMachineForCustomerId" type="tns:updateMachineForCustomerId" />
      <xsd:element name="updateMachineForCustomerIdResponse" type="tns:updateMachineForCustomerIdResponse" />
      <xsd:complexType name="updateMachineForCustomerId">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ID" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="OWNER" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="BRAND" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="DESCRBRAND" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="MODEL" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="DESCRMODEL" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="INDTYPE" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="updateMachineForCustomerIdResponse">
        <xsd:sequence>
          <xsd:element name="individSaveResponse" nillable="true" type="tns:individSaveOutput" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="individSaveOutput">
        <xsd:sequence>
          <xsd:element name="IOEnvelope" nillable="true" type="tns:IOEnvelope" />
        </xsd:sequence>
        <xsd:attribute name="version" type="xsd:string" use="required" />
        <xsd:attribute name="encoding" type="xsd:string" use="required" />
      </xsd:complexType>
      <xsd:complexType name="IOEnvelope">
        <xsd:sequence>
          <xsd:element name="FunctionStatus" nillable="true" type="tns:FunctionStatus" />
          <xsd:element name="Data" nillable="true" type="tns:Data" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FunctionStatus">
        <xsd:sequence>
          <xsd:element name="Status" nillable="true" type="xsd:string" />
          <xsd:element name="Text" nillable="true" type="xsd:string" />
          <xsd:element name="UserText" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Data">
        <xsd:sequence />
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="updateMachineForCustomerId_PortType_updateMachineForCustomerIdResponse">
    <wsdl:part name="parameters" element="tns:updateMachineForCustomerIdResponse" />
  </wsdl:message>
  <wsdl:message name="updateMachineForCustomerId_PortType_updateMachineForCustomerId">
    <wsdl:part name="parameters" element="tns:updateMachineForCustomerId" />
  </wsdl:message>
  <wsdl:portType name="updateMachineForCustomerId_PortType">
    <wsdl:operation name="updateMachineForCustomerId">
      <wsdl:input message="tns:updateMachineForCustomerId_PortType_updateMachineForCustomerId" />
      <wsdl:output message="tns:updateMachineForCustomerId_PortType_updateMachineForCustomerIdResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LMMA_MAS_C4_ws_updateMachineForCustomerId_Binder" type="tns:updateMachineForCustomerId_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="updateMachineForCustomerId">
      <soap:operation soapAction="LMMA_MAS_C4_ws_updateMachineForCustomerId_Binder_updateMachineForCustomerId" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LMMA_MAS_C4_updateMachineForCustomerId">
    <wsdl:port name="LMMA_MAS_C4_updateMachineForCustomerIdsoaphttp" binding="tns:LMMA_MAS_C4_ws_updateMachineForCustomerId_Binder">
      <soap:address location="http://sr02371.work.lantmannen.lan:9955/ws/LMMA_MAS_C4_updateMachineForCustomerId/1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>