Gro.Infrastructure.Data/Service References/PrisgrafService/PrisgrafService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PrisgrafService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://sr02009/Apps/PrisgrafServiceInt/PrisgrafServiceInt.PrisgrafService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://sr02009/Apps/PrisgrafServiceInt/PrisgrafServiceInt.PrisgrafService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://sr02009/Apps/PrisgrafServiceInt/PrisgrafServiceInt.PrisgrafService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPrisgrafService_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IPrisgrafService_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IPrisgrafService_GetStartingPeriod_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStartingPeriod" />
  </wsdl:message>
  <wsdl:message name="IPrisgrafService_GetStartingPeriod_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStartingPeriodResponse" />
  </wsdl:message>
  <wsdl:message name="IPrisgrafService_GetSelectablePeriods_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSelectablePeriods" />
  </wsdl:message>
  <wsdl:message name="IPrisgrafService_GetSelectablePeriods_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSelectablePeriodsResponse" />
  </wsdl:message>
  <wsdl:message name="IPrisgrafService_GetChartLegendData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChartLegendData" />
  </wsdl:message>
  <wsdl:message name="IPrisgrafService_GetChartLegendData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChartLegendDataResponse" />
  </wsdl:message>
  <wsdl:message name="IPrisgrafService_GetChartSeriesData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChartSeriesData" />
  </wsdl:message>
  <wsdl:message name="IPrisgrafService_GetChartSeriesData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChartSeriesDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IPrisgrafService">
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrisgrafService/Ping" message="tns:IPrisgrafService_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrisgrafService/PingResponse" message="tns:IPrisgrafService_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStartingPeriod">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrisgrafService/GetStartingPeriod" message="tns:IPrisgrafService_GetStartingPeriod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrisgrafService/GetStartingPeriodResponse" message="tns:IPrisgrafService_GetStartingPeriod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSelectablePeriods">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrisgrafService/GetSelectablePeriods" message="tns:IPrisgrafService_GetSelectablePeriods_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrisgrafService/GetSelectablePeriodsResponse" message="tns:IPrisgrafService_GetSelectablePeriods_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChartLegendData">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrisgrafService/GetChartLegendData" message="tns:IPrisgrafService_GetChartLegendData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrisgrafService/GetChartLegendDataResponse" message="tns:IPrisgrafService_GetChartLegendData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChartSeriesData">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrisgrafService/GetChartSeriesData" message="tns:IPrisgrafService_GetChartSeriesData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrisgrafService/GetChartSeriesDataResponse" message="tns:IPrisgrafService_GetChartSeriesData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPrisgrafService" type="tns:IPrisgrafService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/IPrisgrafService/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStartingPeriod">
      <soap:operation soapAction="http://tempuri.org/IPrisgrafService/GetStartingPeriod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSelectablePeriods">
      <soap:operation soapAction="http://tempuri.org/IPrisgrafService/GetSelectablePeriods" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChartLegendData">
      <soap:operation soapAction="http://tempuri.org/IPrisgrafService/GetChartLegendData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChartSeriesData">
      <soap:operation soapAction="http://tempuri.org/IPrisgrafService/GetChartSeriesData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PrisgrafService">
    <wsdl:port name="BasicHttpBinding_IPrisgrafService" binding="tns:BasicHttpBinding_IPrisgrafService">
      <soap:address location="http://sr02009/Apps/PrisgrafServiceInt/PrisgrafServiceInt.PrisgrafService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>