Gro.Infrastructure.Data/Service References/ShippingService/FraktServiceInt2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sr02009/Apps/FraktServiceInt/FraktServiceInt.FraktService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FraktServiceInt.Models" />
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryFee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FraktServiceInt.Models" minOccurs="0" name="deliveryFeeRequest" nillable="true" type="q1:DeliveryFeeRequest" />
        <xs:element minOccurs="0" name="ticket" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryFeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FraktServiceInt.Models" minOccurs="0" name="GetDeliveryFeeResult" nillable="true" type="q2:DeliveryFeeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>