Gro.Infrastructure.Data/Service References/ShippingService/FraktServiceInt.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FraktServiceInt.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FraktServiceInt.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DeliveryFeeRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeliveryAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Item" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Leveransdatum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Levsatt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:decimal" />
      <xs:element minOccurs="0" name="Sort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Suppliernumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeliveryFeeRequest" nillable="true" type="tns:DeliveryFeeRequest" />
  <xs:complexType name="DeliveryFeeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distance" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fee" type="xs:int" />
      <xs:element minOccurs="0" name="Ortsjustering" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeliveryFeeResponse" nillable="true" type="tns:DeliveryFeeResponse" />
</xs:schema>