Gro.Infrastructure.Data/Service References/UserTermsOfUseService/UserTermsOfUseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserTermsOfUseService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://sr02009/Farmday/UserTermsOfUseService/UserTermsOfUseService.UserTermsOfUseService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://sr02009/Farmday/UserTermsOfUseService/UserTermsOfUseService.UserTermsOfUseService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserTermsOfUseService_CheckTerms_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckTerms" />
  </wsdl:message>
  <wsdl:message name="IUserTermsOfUseService_CheckTerms_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckTermsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserTermsOfUseService_CheckUserAccepts_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserAccepts" />
  </wsdl:message>
  <wsdl:message name="IUserTermsOfUseService_CheckUserAccepts_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserAcceptsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserTermsOfUseService_UpdateInsertUserAccepts_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateInsertUserAccepts" />
  </wsdl:message>
  <wsdl:message name="IUserTermsOfUseService_UpdateInsertUserAccepts_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateInsertUserAcceptsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserTermsOfUseService_UpdateInsertTermsOfUse_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateInsertTermsOfUse" />
  </wsdl:message>
  <wsdl:message name="IUserTermsOfUseService_UpdateInsertTermsOfUse_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateInsertTermsOfUseResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserTermsOfUseService">
    <wsdl:operation name="CheckTerms">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserTermsOfUseService/CheckTerms" message="tns:IUserTermsOfUseService_CheckTerms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserTermsOfUseService/CheckTermsResponse" message="tns:IUserTermsOfUseService_CheckTerms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUserAccepts">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserTermsOfUseService/CheckUserAccepts" message="tns:IUserTermsOfUseService_CheckUserAccepts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserTermsOfUseService/CheckUserAcceptsResponse" message="tns:IUserTermsOfUseService_CheckUserAccepts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateInsertUserAccepts">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserTermsOfUseService/UpdateInsertUserAccepts" message="tns:IUserTermsOfUseService_UpdateInsertUserAccepts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserTermsOfUseService/UpdateInsertUserAcceptsResponse" message="tns:IUserTermsOfUseService_UpdateInsertUserAccepts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateInsertTermsOfUse">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserTermsOfUseService/UpdateInsertTermsOfUse" message="tns:IUserTermsOfUseService_UpdateInsertTermsOfUse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserTermsOfUseService/UpdateInsertTermsOfUseResponse" message="tns:IUserTermsOfUseService_UpdateInsertTermsOfUse_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserTermsOfUseService" type="tns:IUserTermsOfUseService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckTerms">
      <soap:operation soapAction="http://tempuri.org/IUserTermsOfUseService/CheckTerms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserAccepts">
      <soap:operation soapAction="http://tempuri.org/IUserTermsOfUseService/CheckUserAccepts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateInsertUserAccepts">
      <soap:operation soapAction="http://tempuri.org/IUserTermsOfUseService/UpdateInsertUserAccepts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateInsertTermsOfUse">
      <soap:operation soapAction="http://tempuri.org/IUserTermsOfUseService/UpdateInsertTermsOfUse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserTermsOfUseService">
    <wsdl:port name="BasicHttpBinding_IUserTermsOfUseService" binding="tns:BasicHttpBinding_IUserTermsOfUseService">
      <soap:address location="http://sr02009/Farmday/UserTermsOfUseService/UserTermsOfUseService.UserTermsOfUseService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>