Gro.Infrastructure.Data/Service References/LegacyCustomerSupportService/CustomerSupportServiceInt6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SecurityServiceInt.BaseClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SecurityServiceInt.BaseClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RequestUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="KundNr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestUser" nillable="true" type="tns:RequestUser" />
  <xs:complexType name="RequestUserDeep">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsLocketOut" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsSpmlSupplier" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastActivityDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LastLockedOutDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LastLoginDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LastPasswordChangedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PassWordquestion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProviderKey" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Typ" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequestUserDeep" nillable="true" type="tns:RequestUserDeep" />
</xs:schema>