Gro.Infrastructure.Data/Service References/RequestService/WSRequestService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:intf="http://services.ws.itim.ibm.com" xmlns:tns2="http://exceptions.ws.itim.ibm.com" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://model.ws.itim.ibm.com" xmlns:impl="http://services.ws.itim.ibm.com" targetNamespace="http://services.ws.itim.ibm.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://services.ws.itim.ibm.com">
      <xsd:import namespace="http://exceptions.ws.itim.ibm.com" />
      <xsd:import namespace="http://model.ws.itim.ibm.com" />
      <xsd:element name="abortRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="session" type="tns1:WSSession" />
            <xsd:element name="requestId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="abortRequestResponse">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="fault" type="tns2:WSLoginServiceException" />
      <xsd:element name="fault1" type="tns2:WSApplicationException" />
      <xsd:element name="getActivities">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="session" type="tns1:WSSession" />
            <xsd:element name="processId" type="xsd:long" />
            <xsd:element name="recurseSubProcesses" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getActivitiesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="getActivitiesReturn" type="tns1:WSActivity" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getChildProcesses">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="session" type="tns1:WSSession" />
            <xsd:element name="processId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getChildProcessesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="getChildProcessesReturn" type="tns1:WSRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCompletedRequests">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="session" type="tns1:WSSession" />
            <xsd:element name="timeType" type="xsd:int" />
            <xsd:element name="dateIntervalType" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCompletedRequestsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="getCompletedRequestsReturn" type="tns1:WSRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCompletedRequestsPage">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="session" type="tns1:WSSession" />
            <xsd:element name="searchResultsWrapper" type="tns1:WSSearchResultsWrapper" />
            <xsd:element name="pageNum" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCompletedRequestsPageResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="getCompletedRequestsPageReturn" type="tns1:WSRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fault2" type="tns2:WSInvalidSessionException" />
      <xsd:element name="getPendingRequests">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="session" type="tns1:WSSession" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getPendingRequestsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="getPendingRequestsReturn" type="tns1:WSRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getProcess">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="session" type="tns1:WSSession" />
            <xsd:element name="processId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getProcessResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getProcessReturn" type="tns1:WSRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="session" type="tns1:WSSession" />
            <xsd:element name="requestId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getRequestResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getRequestReturn" type="tns1:WSRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchCompletedRequests">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="session" type="tns1:WSSession" />
            <xsd:element name="timeType" type="xsd:int" />
            <xsd:element name="dateIntervalType" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchCompletedRequestsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="searchCompletedRequestsReturn" type="tns1:WSSearchResultsWrapper" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://model.ws.itim.ibm.com">
      <xsd:import namespace="http://exceptions.ws.itim.ibm.com" />
      <xsd:complexType name="WSLocale">
        <xsd:sequence>
          <xsd:element name="country" nillable="true" type="xsd:string" />
          <xsd:element name="variant" nillable="true" type="xsd:string" />
          <xsd:element name="language" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="WSSession">
        <xsd:sequence>
          <xsd:element name="clientSession" nillable="true" type="xsd:string" />
          <xsd:element name="enforceChallengeResponse" type="xsd:boolean" />
          <xsd:element name="locale" nillable="true" type="tns1:WSLocale" />
          <xsd:element name="sessionID" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="WSActivity">
        <xsd:sequence>
          <xsd:element name="timeCompleted" nillable="true" type="xsd:dateTime" />
          <xsd:element name="result" nillable="true" type="xsd:string" />
          <xsd:element name="description" nillable="true" type="xsd:string" />
          <xsd:element name="id" type="xsd:long" />
          <xsd:element name="designId" nillable="true" type="xsd:string" />
          <xsd:element name="timeStarted" nillable="true" type="xsd:dateTime" />
          <xsd:element name="index" type="xsd:int" />
          <xsd:element name="state" nillable="true" type="xsd:string" />
          <xsd:element name="resultDetail" nillable="true" type="xsd:string" />
          <xsd:element name="name" nillable="true" type="xsd:string" />
          <xsd:element name="activitySubType" nillable="true" type="xsd:string" />
          <xsd:element name="subProcessId" type="xsd:long" />
          <xsd:element name="processId" type="xsd:long" />
          <xsd:element name="activityType" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="WSRequest">
        <xsd:sequence>
          <xsd:element name="timeCompleted" nillable="true" type="xsd:dateTime" />
          <xsd:element name="subjectProfile" nillable="true" type="xsd:string" />
          <xsd:element name="result" nillable="true" type="xsd:string" />
          <xsd:element name="select" type="xsd:boolean" />
          <xsd:element name="description" nillable="true" type="xsd:string" />
          <xsd:element name="processTypeString" nillable="true" type="xsd:string" />
          <xsd:element name="title" nillable="true" type="xsd:string" />
          <xsd:element name="owner" nillable="true" type="xsd:string" />
          <xsd:element name="processStateString" nillable="true" type="xsd:string" />
          <xsd:element name="status" type="xsd:int" />
          <xsd:element name="requestee" nillable="true" type="xsd:string" />
          <xsd:element name="timeSubmitted" nillable="true" type="xsd:dateTime" />
          <xsd:element name="subject" nillable="true" type="xsd:string" />
          <xsd:element name="requestId" type="xsd:long" />
          <xsd:element name="processType" nillable="true" type="xsd:string" />
          <xsd:element name="subjectService" nillable="true" type="xsd:string" />
          <xsd:element name="statusString" nillable="true" type="xsd:string" />
          <xsd:element name="processState" nillable="true" type="xsd:string" />
          <xsd:element name="timeScheduled" nillable="true" type="xsd:dateTime" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="WSSearchResultsWrapper">
        <xsd:sequence>
          <xsd:element name="resultsObject" nillable="true" type="xsd:string" />
          <xsd:element name="resultsClassName" nillable="true" type="xsd:string" />
          <xsd:element name="name" nillable="true" type="xsd:string" />
          <xsd:element name="pageCount" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://exceptions.ws.itim.ibm.com">
      <xsd:import namespace="http://model.ws.itim.ibm.com" />
      <xsd:complexType name="WSLoginServiceException">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:complexType name="WSApplicationException">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:complexType name="WSInvalidSessionException">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns2:WSLoginServiceException">
            <xsd:sequence />
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getActivitiesRequest">
    <wsdl:part name="parameters" element="impl:getActivities" />
  </wsdl:message>
  <wsdl:message name="getProcessRequest">
    <wsdl:part name="parameters" element="impl:getProcess" />
  </wsdl:message>
  <wsdl:message name="getProcessResponse">
    <wsdl:part name="parameters" element="impl:getProcessResponse" />
  </wsdl:message>
  <wsdl:message name="getCompletedRequestsPageResponse">
    <wsdl:part name="parameters" element="impl:getCompletedRequestsPageResponse" />
  </wsdl:message>
  <wsdl:message name="abortRequestResponse">
    <wsdl:part name="parameters" element="impl:abortRequestResponse" />
  </wsdl:message>
  <wsdl:message name="getActivitiesResponse">
    <wsdl:part name="parameters" element="impl:getActivitiesResponse" />
  </wsdl:message>
  <wsdl:message name="getRequestResponse">
    <wsdl:part name="parameters" element="impl:getRequestResponse" />
  </wsdl:message>
  <wsdl:message name="getChildProcessesRequest">
    <wsdl:part name="parameters" element="impl:getChildProcesses" />
  </wsdl:message>
  <wsdl:message name="searchCompletedRequestsRequest">
    <wsdl:part name="parameters" element="impl:searchCompletedRequests" />
  </wsdl:message>
  <wsdl:message name="WSApplicationException">
    <wsdl:part name="fault" element="impl:fault1" />
  </wsdl:message>
  <wsdl:message name="getPendingRequestsRequest">
    <wsdl:part name="parameters" element="impl:getPendingRequests" />
  </wsdl:message>
  <wsdl:message name="getPendingRequestsResponse">
    <wsdl:part name="parameters" element="impl:getPendingRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="WSLoginServiceException">
    <wsdl:part name="fault" element="impl:fault" />
  </wsdl:message>
  <wsdl:message name="getCompletedRequestsPageRequest">
    <wsdl:part name="parameters" element="impl:getCompletedRequestsPage" />
  </wsdl:message>
  <wsdl:message name="getCompletedRequestsResponse">
    <wsdl:part name="parameters" element="impl:getCompletedRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="getChildProcessesResponse">
    <wsdl:part name="parameters" element="impl:getChildProcessesResponse" />
  </wsdl:message>
  <wsdl:message name="searchCompletedRequestsResponse">
    <wsdl:part name="parameters" element="impl:searchCompletedRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="abortRequestRequest">
    <wsdl:part name="parameters" element="impl:abortRequest" />
  </wsdl:message>
  <wsdl:message name="getRequestRequest">
    <wsdl:part name="parameters" element="impl:getRequest" />
  </wsdl:message>
  <wsdl:message name="WSInvalidSessionException">
    <wsdl:part name="fault" element="impl:fault2" />
  </wsdl:message>
  <wsdl:message name="getCompletedRequestsRequest">
    <wsdl:part name="parameters" element="impl:getCompletedRequests" />
  </wsdl:message>
  <wsdl:portType name="WSRequestService">
    <wsdl:operation name="abortRequest">
      <wsdl:input name="abortRequestRequest" message="impl:abortRequestRequest" />
      <wsdl:output name="abortRequestResponse" message="impl:abortRequestResponse" />
      <wsdl:fault name="WSLoginServiceException" message="impl:WSLoginServiceException" />
      <wsdl:fault name="WSApplicationException" message="impl:WSApplicationException" />
    </wsdl:operation>
    <wsdl:operation name="getActivities">
      <wsdl:input name="getActivitiesRequest" message="impl:getActivitiesRequest" />
      <wsdl:output name="getActivitiesResponse" message="impl:getActivitiesResponse" />
      <wsdl:fault name="WSLoginServiceException" message="impl:WSLoginServiceException" />
      <wsdl:fault name="WSApplicationException" message="impl:WSApplicationException" />
    </wsdl:operation>
    <wsdl:operation name="getChildProcesses">
      <wsdl:input name="getChildProcessesRequest" message="impl:getChildProcessesRequest" />
      <wsdl:output name="getChildProcessesResponse" message="impl:getChildProcessesResponse" />
      <wsdl:fault name="WSLoginServiceException" message="impl:WSLoginServiceException" />
      <wsdl:fault name="WSApplicationException" message="impl:WSApplicationException" />
    </wsdl:operation>
    <wsdl:operation name="getCompletedRequests">
      <wsdl:input name="getCompletedRequestsRequest" message="impl:getCompletedRequestsRequest" />
      <wsdl:output name="getCompletedRequestsResponse" message="impl:getCompletedRequestsResponse" />
      <wsdl:fault name="WSLoginServiceException" message="impl:WSLoginServiceException" />
      <wsdl:fault name="WSApplicationException" message="impl:WSApplicationException" />
    </wsdl:operation>
    <wsdl:operation name="getCompletedRequestsPage">
      <wsdl:input name="getCompletedRequestsPageRequest" message="impl:getCompletedRequestsPageRequest" />
      <wsdl:output name="getCompletedRequestsPageResponse" message="impl:getCompletedRequestsPageResponse" />
      <wsdl:fault name="WSInvalidSessionException" message="impl:WSInvalidSessionException" />
      <wsdl:fault name="WSApplicationException" message="impl:WSApplicationException" />
    </wsdl:operation>
    <wsdl:operation name="getPendingRequests">
      <wsdl:input name="getPendingRequestsRequest" message="impl:getPendingRequestsRequest" />
      <wsdl:output name="getPendingRequestsResponse" message="impl:getPendingRequestsResponse" />
      <wsdl:fault name="WSLoginServiceException" message="impl:WSLoginServiceException" />
      <wsdl:fault name="WSApplicationException" message="impl:WSApplicationException" />
    </wsdl:operation>
    <wsdl:operation name="getProcess">
      <wsdl:input name="getProcessRequest" message="impl:getProcessRequest" />
      <wsdl:output name="getProcessResponse" message="impl:getProcessResponse" />
      <wsdl:fault name="WSLoginServiceException" message="impl:WSLoginServiceException" />
      <wsdl:fault name="WSApplicationException" message="impl:WSApplicationException" />
    </wsdl:operation>
    <wsdl:operation name="getRequest">
      <wsdl:input name="getRequestRequest" message="impl:getRequestRequest" />
      <wsdl:output name="getRequestResponse" message="impl:getRequestResponse" />
      <wsdl:fault name="WSLoginServiceException" message="impl:WSLoginServiceException" />
      <wsdl:fault name="WSApplicationException" message="impl:WSApplicationException" />
    </wsdl:operation>
    <wsdl:operation name="searchCompletedRequests">
      <wsdl:input name="searchCompletedRequestsRequest" message="impl:searchCompletedRequestsRequest" />
      <wsdl:output name="searchCompletedRequestsResponse" message="impl:searchCompletedRequestsResponse" />
      <wsdl:fault name="WSLoginServiceException" message="impl:WSLoginServiceException" />
      <wsdl:fault name="WSApplicationException" message="impl:WSApplicationException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSRequestServiceSoapBinding" type="impl:WSRequestService">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="abortRequest">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="abortRequestRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="abortRequestResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WSLoginServiceException">
        <wsdlsoap:fault use="literal" name="WSLoginServiceException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="WSApplicationException">
        <wsdlsoap:fault use="literal" name="WSApplicationException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getActivities">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getActivitiesRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getActivitiesResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WSLoginServiceException">
        <wsdlsoap:fault use="literal" name="WSLoginServiceException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="WSApplicationException">
        <wsdlsoap:fault use="literal" name="WSApplicationException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getChildProcesses">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getChildProcessesRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getChildProcessesResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WSLoginServiceException">
        <wsdlsoap:fault use="literal" name="WSLoginServiceException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="WSApplicationException">
        <wsdlsoap:fault use="literal" name="WSApplicationException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCompletedRequests">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getCompletedRequestsRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCompletedRequestsResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WSLoginServiceException">
        <wsdlsoap:fault use="literal" name="WSLoginServiceException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="WSApplicationException">
        <wsdlsoap:fault use="literal" name="WSApplicationException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCompletedRequestsPage">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getCompletedRequestsPageRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCompletedRequestsPageResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WSInvalidSessionException">
        <wsdlsoap:fault use="literal" name="WSInvalidSessionException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="WSApplicationException">
        <wsdlsoap:fault use="literal" name="WSApplicationException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPendingRequests">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getPendingRequestsRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getPendingRequestsResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WSLoginServiceException">
        <wsdlsoap:fault use="literal" name="WSLoginServiceException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="WSApplicationException">
        <wsdlsoap:fault use="literal" name="WSApplicationException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProcess">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getProcessRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getProcessResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WSLoginServiceException">
        <wsdlsoap:fault use="literal" name="WSLoginServiceException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="WSApplicationException">
        <wsdlsoap:fault use="literal" name="WSApplicationException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRequest">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getRequestRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getRequestResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WSLoginServiceException">
        <wsdlsoap:fault use="literal" name="WSLoginServiceException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="WSApplicationException">
        <wsdlsoap:fault use="literal" name="WSApplicationException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchCompletedRequests">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="searchCompletedRequestsRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="searchCompletedRequestsResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WSLoginServiceException">
        <wsdlsoap:fault use="literal" name="WSLoginServiceException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="WSApplicationException">
        <wsdlsoap:fault use="literal" name="WSApplicationException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSRequestServiceService">
    <wsdl:port name="WSRequestService" binding="impl:WSRequestServiceSoapBinding">
      <wsdlsoap:address location="https://10.2.54.129:9082/itim/services/WSRequestServiceService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>