Gro.Infrastructure.Data/Service References/PurchasingAgreementService/PurchasingAgreementServiceInt.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PurchasingAgreementServiceInt.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PurchasingAgreementServiceInt.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustPriceAreaId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="DryingAgreement">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryTerms" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HarvestYear" type="xs:int" />
      <xs:element minOccurs="0" name="HeaderText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxMoisture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtherTerms" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriceTerms" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuantityTerms" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TermsAttachments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DryingAgreement" nillable="true" type="tns:DryingAgreement" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="GrainName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductItemId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductItemName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ArrayOfPriceArea">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PriceArea" nillable="true" type="tns:PriceArea" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPriceArea" nillable="true" type="tns:ArrayOfPriceArea" />
  <xs:complexType name="PriceArea">
    <xs:sequence>
      <xs:element minOccurs="0" name="FavoritePriceAreaId" type="xs:boolean" />
      <xs:element minOccurs="0" name="PriceAreaId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriceAreaName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PriceArea" nillable="true" type="tns:PriceArea" />
  <xs:complexType name="ArrayOfPricePeriod">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PricePeriod" nillable="true" type="tns:PricePeriod" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPricePeriod" nillable="true" type="tns:ArrayOfPricePeriod" />
  <xs:complexType name="PricePeriod">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgreementType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FavoriteProductItem" type="xs:boolean" />
      <xs:element minOccurs="0" name="GrainCategoryId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GrainType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriceAreaId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriceType" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Prices" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="ProductItemDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductItemHierarchy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductItemId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PricePeriod" nillable="true" type="tns:PricePeriod" />
  <xs:complexType name="ArrayOfPriceWatch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PriceWatch" nillable="true" type="tns:PriceWatch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPriceWatch" nillable="true" type="tns:ArrayOfPriceWatch" />
  <xs:complexType name="PriceWatch">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgreedQuantity" type="xs:double" />
      <xs:element minOccurs="0" name="AgreementType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="PriceList" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidFrom" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ValidTo" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WatchDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WatchPriceMin" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PriceWatch" nillable="true" type="tns:PriceWatch" />
  <xs:complexType name="ArrayOfStorageAgreement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StorageAgreement" nillable="true" type="tns:StorageAgreement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStorageAgreement" nillable="true" type="tns:ArrayOfStorageAgreement" />
  <xs:complexType name="StorageAgreement">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgreementId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerUserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GrainType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HarvestYear" type="xs:int" />
      <xs:element minOccurs="0" name="IpAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModeOfDelivery" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriceArea" type="xs:int" />
      <xs:element minOccurs="0" name="ProductItemId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductItemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="ValidFrom" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ValidTo" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StorageAgreement" nillable="true" type="tns:StorageAgreement" />
  <xs:complexType name="PoolAgreement">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgreementId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerUserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GrainType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HarvestYear" type="xs:int" />
      <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModeOfDelivery" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriceArea" type="xs:int" />
      <xs:element minOccurs="0" name="ProductItemId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidFrom" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ValidTo" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PoolAgreement" nillable="true" type="tns:PoolAgreement" />
  <xs:complexType name="AgreementResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgreementNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AgreementResponse" nillable="true" type="tns:AgreementResponse" />
  <xs:complexType name="PriceProtectStorageAgreement">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgreementId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerUserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IpAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidFrom" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ValidTo" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WatchAction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WatchDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WatchPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="WatchPriceMinimum" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PriceProtectStorageAgreement" nillable="true" type="tns:PriceProtectStorageAgreement" />
  <xs:complexType name="SpotAndForwardAgreement">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgreementId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerUserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GrainType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HarvestYear" type="xs:int" />
      <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModeOfDelivery" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="PriceArea" type="xs:int" />
      <xs:element minOccurs="0" name="PriceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductItemId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidFrom" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ValidTo" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WatchAction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WatchDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WatchPriceMinimum" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpotAndForwardAgreement" nillable="true" type="tns:SpotAndForwardAgreement" />
</xs:schema>